<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #111;
                color: #fff;
            }
            .animation-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em;
            }
            #animation {
                width: 1000px;
                height: 800px;
                cursor: grab;
            }
        </style>
    </head>
    <body>
        <div class="animation-container">
            <canvas id="animation"></canvas>
        </div>
    </body>
</html>